.orgasms-holder{
    position: absolute;
    width: 80%;
    margin-top: 102px;
    margin-left: 10%;
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'DM Mono', monospace;

}

.org-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.metal-man{
    width: 70px;
   height: 70px;
   margin-bottom: 20px;
   cursor: pointer;
}
.org-info-line{
    display: grid;
    grid-template-columns: 150px auto auto auto;
    justify-content: space-between;
    width: 350px;
}
.org-info-line-title{
    
}

.user-orgasms{
    border-left: 2px solid;
    border-right: 2px solid;
    /* padding: 10px; */
}

.delete-own{
    width: 30px;
    cursor: pointer;
    transition: all 300ms;
}
.delete-own:hover{
    transform: scale(0.9);
    opacity: 0.9;
}

.check-mark{
    width: 30px;
    margin-left: auto;
    
}
.casset-on-off{
    transition: all 300ms;
    cursor: pointer;
}
.casset-on-off:hover{
   transform: scale(0.9);
  
}

.create-org-user{
    margin-bottom: 30px;
    background-color: #935FA7;
    color:  white;
    border: 5px solid black;
    border-radius: 5px;
    padding: 5px;
    transition: all 300ms;
    cursor: pointer;
}

.create-org-user:hover{
    transform: scale(0.8);
    background-color: #B594B6;
    color: #ECFFF8;
    font-size: 38px;
 } 

.pop-up-create{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F88DAD;
    border: 5px solid;
    justify-content: center;
    border-radius: 5px;
    font-family: 'DM Mono', monospace;
    z-index: 500;
}

.pop-submit{
    background: #F9E9EC;
    border-left: 2px solid;
    border-top: 2px solid;
    border-right: 2px solid;
    border-radius: 5px;
    transition: 300ms all ease;
    cursor: pointer;
}
.pop-submit:hover{
    transform: scale(0.9);
  
}

.pop-file{
    border: 2px solid;
    margin: 10px;
    background: #8390FA;
    
    border-radius: 5px;
    transition: all 300ms ease;
    cursor: pointer;
}
.pop-file:hover{
    transform: scale(0.92);

}


.pop-error{
    background: #DB5461;
    border: 2px solid;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.close-create-btn{
    position: absolute;
    left: 92%;
    top: 0;

}

.close-create-btn svg{
    width: 30px;
    cursor: pointer;
}


.don-inf-per svg{
    cursor: pointer;
}

 .don-inf-ani-enter{
    position: absolute;
   
    top: 50%;
    transform: scale(0);
  }
  .don-inf-ani-enter-done{
    position: fixed;
    top: 40%;
    left: 40%;
    transform: scale(1);
    transition: all 300ms ease;
    display: flex;
    flex-direction: column;
    border: 3px solid #F24236;
    border-radius: 5px;
    padding: 30px;
  }
   .don-inf-ani-exit{
       transform: scale(1.1);
   }
  .don-inf-ani-exit-active{

    transform: scale(0);   
    transition: all 400ms ease; 
  }

 /* .don-inf-ani-exit-done{
    transform: scale(0);  
    transition: all 400ms ease;
          
   } */

.don-set{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 20px;
}

.don-set-done{
    margin-top: 20px;
   text-align: center;
   cursor: pointer;
   background-color: #F18F01;
   border: 2px solid;
   border-radius: 5px;
   transition: all 200ms ease;
}
.don-set-done:hover{
    transform: scale(0.9);
}
.btc-add-prop a{
    margin-top: auto;
}

.btc-add-prop{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2E86AB;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btc-add-prop input{
    margin: 20px;
 width: 90%;
}

.set-btc-btn{
    margin-top: auto;
    background-color: #564138;
    padding: 5px;
    border: 2px solid;
    border-radius: 5px;
    cursor: pointer;
    transition: all 200ms ease;
}
.set-btc-btn:hover{
    transform: scale(0.9);
}

.donate-to{
    position: fixed;
    top: 40%;
    left: 40%;
    background: #5BBA6F;
    border: 3px solid;
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 28px 0px rgba(91,186,111,0.53);
    -moz-box-shadow: 0px 5px 28px 0px rgba(91,186,111,0.53);
    box-shadow: 0px 5px 28px 0px rgba(91,186,111,0.53);
}
.donate-to span{
    width: 90%;
    padding: 10px;
}

.close-don{
    align-self: center;
    margin-left: 45%;
    cursor: pointer;
}

.cash-box{
    transition: 200ms all ease;
    cursor: pointer;
}
.cash-box:hover{
    transform: scale(0.9);
}

@media screen and (max-width: 600px){

    .orgasms-holder{
        display: grid;
        grid-template-areas: "user" "liked" "disliked";
        margin-left: 0%;

    }
    .user-orgasms{
        grid-area: user;

    }

    .user-disliked-orgasms{
        grid-area: disliked;
    }

    .user-liked-orgasms{
      
        grid-area: liked;
    }

    .org-list{
        padding: 0px;
        margin-bottom: 50px;
    }
}


